<div class="play-panel" [class.show]="show">
  <div class="hd">
    <div class="hdc">
      <h4>播放列表（<span>{{songList.length}}</span>）</h4>
      <div class="add-all">
        <i class="icon" title="收藏全部"></i>收藏全部
      </div>
      <span class="line"></span>
      <div class="clear-all">
        <i class="icon trush" title="清除全部"></i>清除
      </div>
      <div class="playing-name">{{currentSong?.name}}</div>
      <div class="close" (click)="clickClose.emit()">
        <i class="icon"></i>

      </div>
    </div>
  </div>
  <div class="bd">
    <img class="imgbg" src="{{currentSong?.al.picUrl}}" alt="">
    <div class="msk"></div>
    <div class="list-wrap">
      <ul>
        <li
          *ngFor="let item of songList; index as i"
          [class.current]="currentIndex === i"
        (click)="pushIndex(i)">
          <i class="col arrow"></i>
          <div class="col name ellipsis">{{item.name}}</div>
          <div class="col icons">
            <i class="ico like" title="收藏"></i>
            <i class="ico share" title="分享"></i>
            <i class="ico trush" title="删除"></i>
          </div>
          <div class="singers clearfix">
            <span [title]="getSingers(item)" >
              <a href="#" *ngFor="let singer of item.ar;last as isLast">
                {{singer.name}}<span [hidden]="isLast">/</span>
              </a>
            </span>
          </div>
          <div class="col duration">{{(item.dt/1000) | formatTime}}</div>
          <div class="col link"></div>
        </li>
      </ul>
    </div>
    <div class="list-lyric"></div>
  </div>
</div>
