<div class="play-panel" [class.show]="show">
  <div class="hd">
    <div class="hdc">
      <h4>播放列表（<span>{{songList.length}}</span>）</h4>
      <div class="add-all">
        <i class="icon" title="收藏全部"></i>收藏全部
      </div>
      <span class="line"></span>
      <div class="clear-all">
        <i class="icon trush" title="清除全部"></i>清除
      </div>
      <div class="playing-name">{{currentSong?.name}}</div>
      <div class="close" (click)="clickClose.emit()">
        <i class="icon"></i>

      </div>
    </div>
  </div>
  <div class="bd">
    <img class="imgbg" src="{{currentSong?.al.picUrl}}" alt="">
    <div class="msk"></div>
    <app-scroll class="list-wrap" [data] = "songList" (onScrollEnd)="scrollY = $event">
      <ul>
        <li
          *ngFor="let item of songList; index as i"
          [class.current]="songIndex === i"
        (click)="pushIndex(i)">
          <i class="col arrow"></i>
          <div class="col name ellipsis">{{item.name}}</div>
          <div class="col icons">
            <i class="ico like" title="收藏"></i>
            <i class="ico share" title="分享"></i>
            <i class="ico trush" title="删除"></i>
          </div>
          <div class="singers clearfix">
            <span [title]="getSingers(item)" >
              <a href="#" *ngFor="let singer of item.ar;last as isLast">
                {{singer.name}}<span [hidden]="isLast">/</span>
              </a>
            </span>
          </div>
          <div class="col duration">{{(item.dt/1000) | formatTime}}</div>
          <div class="col link"></div>
        </li>
      </ul>
      <div class="nocnt" [class.show]="songList.length">
        <i class="ico ico-face"></i>
        <span>你还没有添加任何歌曲</span><br>
        <span>
          去首页
          <a href="">发现音乐</a>
          ，或在
          <a href="">我的音乐</a>
          收听自己收藏的歌单
        </span>
      </div>
    </app-scroll>
    <app-scroll class="list-lyric">
      <ul>
        <li
          *ngFor="let item of currentLyric; index as i"
          [class.current] = "i === currentLyricIndex">
          {{item.txt}} <br> {{item.txtCN}}
        </li>
      </ul>
    </app-scroll>
  </div>
</div>
