<div class="home">
  <app-carousel #component [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
    <nz-carousel
      nzAutoPlay
      nzEffect="fade"
      [nzDotRender]="component.dotRef"
      (nzBeforeChange)="onBeforeChange($event)">
      <div class="carousel item" nz-carousel-content *ngFor="let item of banners">
        <a [href]="item.url" target="_blank" class="banner-item">
          <img [src]="item.imageUrl" alt="">
        </a>
      </div>
    </nz-carousel>
  </app-carousel>

  <div class="main">
    <div class="wrap">
      <div class="left">
        <div class="sec">
          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a>热门分类</a>
              </h2>
              <nav>
                <a href="#" *ngFor="let item of hotTags">{{ item.name }}</a>
              </nav>
            </div>
            <a>
              更多
              <i nz-icon type="arrow-right" theme="outline"></i>
            </a>
          </div>
          <div class="down"></div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>
</div>
