<div class="m-player" (click)="selfClick = true">
  <div class="hand">

  </div>
  <div class="lock">
    <div class="left">
      <i></i>
    </div>
  </div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev" (click)="onPrev(currentIndex - 1)"></i>
        <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
        <i class="next" (click)="onNext(currentIndex + 1)"></i>
      </div>
      <div class="head">
        <img [src]="picUrl" alt="">
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix" >
          <p class="ellipsis">{{song?.name}}</p>
          <ul class="songs">
            <li *ngFor="let item of song?.ar; last as isLast">
              <a>{{item.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap clearfix">
            <app-slider [song]="song" [bufferOffset]= "bufferPercent" [(ngModel)]="percent"  (onAfterChange)="onPercentChange($event)"></app-slider>
          </div>
          <div style="float: right;margin-right: 20px"><em>{{currentTime | formatTime}}</em>/{{duration| formatTime}}</div>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>

      </div>
      <div class="ctrl">
        <i class="volume" title="音量" (click)="toggleVolPanel($event)" [class.mute]="isMute"></i>
        <i [class]="currentMode.type"
           [title]="currentMode.label"
           (click)="changeMode()"></i>
        <p class="open" (click)="onOpen()" title="播放列表">
          <a>{{songList.length}}</a>
        </p>
        <div class="control-vol" [hidden]="!showVolumePanel">
          <app-slider
            [vertical]="true"
            [(ngModel)]="volume"
            (ngModelChange)="onVolumeChange($event)"
            ></app-slider>
        </div>
      </div>
      <app-player-panel
        [songList] = "songList"
        [currentSong] = "song"
        [songIndex]="songIndex"
        [show]="show"
        [currentTime]="currentTime"
        [duration]="duration"
        (onMusic)="onPlayList($event)"
        (clickClose)="onOpen()" >
      </app-player-panel>
    </div>
  </div>

  <audio
    #audioEl
    [src]="song?.url"
    (canplay)="onCanPlay()"
    (ended)="onEnded()"
    (timeupdate)="onTimeUpdate($event)">
  </audio>
</div>
